<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.15/vue.min.js"></script>

</head>
<body id = "register">

<div class="container">
  
  <form v-on="submit : register">
    <div class="form-group">
      <label for="email">username:</label>
      <input  class="form-control" id="username" placeholder="nhập tên" name="username" v-model="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="nhập password" v-model = "password" name="password">
    </div>
    <div class="form-group">
        <label for="pwd">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="nhập email" v-model = "email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Phone</label>
        <input  class="form-control" id="phone" placeholder="nhập số điện thoại" v-model = "phone" name="phone">
      </div>
    
    <button class="btn btn-primary">Register</button>
  </form>
</div>

</body>
</html>
<script>
  var socket = io()
  const string = "http://localhost:3000"
        new Vue({
            el: '#register',
            data: {
                username: '',
                password : '',
                phone : "",
                email : ""
            },
            methods:{
              register : function(e){
                e.preventDefault();
                axios.post(string + "/register", {
                  username : this.username,
                  password : this.password,
                  phone : this.phone,
                  email : this.email,
                })
                .then((res)=> {
                   window.location.href = string + "/index.html/" +res.data.username ;
                })
                .catch((err) => {
                     alert(err)
                })
              }
            }


          })
</script>